.r-1,.r-2,.r-3{
    display: flex;
    flex-direction: column;
  
}
.r-2{
    align-items: center; 
}
.r-3{
    align-items: flex-start; 

}
.bulb{
    border: 1px solid black;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;


}
.container-bulb{
    flex-direction: row-reverse;
    justify-content: space-between;
}
img{
    max-width: 40px;    
}

.img-1{
    position: absolute;
    top: 10%;
    left: 0%;
}
#switch-2{
    top: 41%;
    left: 78%;
}
#switch-3{
    top: 40px;
    left: 280px;
}
#line-bulb-1{
    left: 5%;
    border-bottom: 2px solid black;
    top: 14%;
    min-width: 71%;
    position: absolute;
}
#line-bulb-2{
    top:65%;
    left:52.3%;
    border-bottom: 2px solid black;
    width: 43%;
    position: absolute;
}
#line-bulb-3{
    top:8%;
    left:10%;
    border-left: 2px solid black;
    height: 59%;
    position: absolute;
}




#bulb-2{
    display: flex;

}
#switch-off-2{
    width: 300px;
    justify-content: end;
}



.container-bulb-2{
    display: flex;
    justify-content: center;
    margin-left: 180px;
    
}
#bulb-3{
    display: flex;
    flex-direction: column-reverse;
    width: 140px;

}

#img-3{
   position: absolute;
   left: 7%;
   top: 0;
}
#img-4{
    position: absolute;
    left: 83%;
    top: 75%;
 }

#breaker{
    max-width: 80px;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}