  <!--Top bar Task-->
<header class="shadow-lg py-4 px-5 mb-3 rounded-bottom head row m-0   ">
    <div id="text-left" class="row col-6   d-flex justify-content-start w-auto ">
        <div class="text-todo col-4  pe-4">
            <h2 class="text-white fs-3 py-1 m-0">
                ToDo List 
            </h2>
        </div>
        <div id ="text-bottom"class="row col  ms-1 d-flex justify-content-center ">
            <div class="col-12">
                <p class="text-white m-0" id="text-top-bar">0 Incomplete Tasks</p>
            </div>
            <div class="col-12 m-0 align-items-center">
                <p id="date" class="text-white fw-light day m-0">Thursday 06, June 2019</p>
            </div>
        </div>
    </div>

    <div id="works" class="row col d-flex justify-content-end align-content-center">
        
            <a id="incomplete" href="#" class=" col-8 text-end text-white  incomplete-top">Incomplete Tasks</a>
            <a id="completed" href="#" class=" col-5 text-end w-auto text-white fw-lighter complete-top">Complete Tasks</a>
        
    </div>
    
</header>