*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head{
    background-color:rgb(101, 176, 206);
}
.text-todo{
    border-right: 2px solid white;
    
}
.day{
    font-size: 12px;
}
body a{
    text-decoration: none;
}
.layout-add{
    width: 93%;
    margin:auto ;
}
.btn-primary{
    background-color: rgb(101, 176, 206) !important;
    border-color:rgb(101, 176, 206) !important;
}
.bi-trash3{
   color: rgb(192, 54, 54);
}
table{
    border: none;
}
.top{
    background-color: #154360;
    color: white;
    font-weight: normal;
}
#title-task{
    color: #154360;
}

.content{
    height: 300px;
    overflow-y: scroll;
}
.bd{
    background-color: rgb(239, 239, 239);
}
table tbody{
    background-color: white;
}
.footer{
  width: 100%;
  height: 230px;
 
}
.bi{
    cursor: pointer;
}
.desactive{
    color:red
}
#text-left .text-todo{
    width: 180px;
}

@media (max-width: 802px) {
    #text-left{
        display: flex;
        flex-direction: column;
    }
    #text-left .text-todo{
        border: 0;
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }
    #text-bottom{
        display: flex;
        flex-direction: row !important ; 
        width: 300px;
        padding: 0px;
        padding-top: 5px;
    }
}
@media (max-width: 612px) {
    #works{
        width: 120px;
    }

    #incomplete{
        width: auto;
    }
    #text-left{width: 100px;
    }
}
@media (max-width: 540px) {
    #text-left{width: 230px !important;
    }
}
@media (max-width: 470px) {
    header{
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    #works{
        width: 220px;
        
        justify-content: center!important;
    }
    #text-left{
        justify-content: center!important;
        align-items: center;
        padding-bottom: 10px;
    }
    .text-todo,#text-bottom{
        text-align: center;
        margin: 0px;
    }

    
}
@media (max-width:447px) {
    #new-task, #edit-task{
        width: 75% !important;
    }
    .buttons{
        display: flex;
        flex-direction: column-reverse;

    }
    .top .w-50{
        width: 0px !important;
    }
}
@media (min-width:768px) {
    .footer{
        position: absolute!important;
        bottom: 0;
    }
    
}
